body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-image: banner.webp;
    color: #fff;
    padding: 1em 0;
    text-align: center;
}

section {
    padding: 20px;
    margin: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    color: #0056b3;
}

ul {
    list-style-type: disc;
    padding-left: 20px;
}

footer {
    text-align: center;
    padding: 1em 0;
    background-color: #0056b3;
    color: #fff;
}
